<!DOCTYPE html>
<html lang="en" >
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Login/Signup Form With Slider</title>
  
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" />

  <!-- Custom fonts for this template -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
<div class="main-box">
  <div class="slider-cont">
    <div class="signup-slider">
      <div class="img-txt">
        <div class="img-layer"></div>
        <img src="{{url_for('static', filename='img/new3.jpg')}}"/>
      </div>
      <div class="img-txt">
        <div class="img-layer"></div>
        <!--<h1>Plan everything in advance.</h1> -->
        <img src="{{url_for('static', filename='img/img2.jpg')}}"/>
      </div>
      <div class="img-txt">
        <div class="img-layer"></div>
        <!-- <h1>Join US Now!</h1> -->
        <img src="{{url_for('static', filename='img/join.png')}}"/>
      </div>
    </div>
  </div>
  
  
  <div class="form-cont">
    <div class="top-buttons">
      <img class="logo" src="{{url_for('static', filename='img/logo2.png')}}"/>
      <button  class="to-signup top-active-button">
        Sign Up
      </button>
      <button class="to-signin">
        Sign In
      </button>
    </div>
    
    <div class="form form-signup">
      <form action="#">
        <label><b>FULL NAME</b></label>
        <input type="text"placeholder="Your full name" >
        <label><b>E-MAIL</b></label>
        <input type="email" 
               placeholder="Your e-mail">
        <label><b>PASSWORD</b></label>
        <input type="password" 
               placeholder="Your password">
        <p class="terms">
          <input type="checkbox">
          I agree all statments in 
          <a href="#" class="lined-link">terms of service</a>
        </p>
        <input type="submit"
               class="form-btn"
               value="Sign Up"/>
        <a href="#" class="lined-link to-signin-link">I'm already member</a>
      </form>
    </div>

    <div class="form form-signin">
      <form action="#">
        <label><b>E-MAIL</b></label>
        <input type="email" name="email" placeholder="Your e-mail" id = "email">
        <label><b>PASSWORD</b></label>
        <input type="password" name="password" placeholder="Your password" id ="password">
        <input type="submit"
               class="form-btn"
               value="Sign In"/>
        <a href="#" class="lined-link to-signup-link">Create new account</a>
      </form>
    </div>
  </div>
  <div class="clear-fix"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
<script src="{{url_for('static', filename='script.js')}}"></script>


</body>
</html>
