<!DOCTYPE html>
<html lang="en" >
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Login/Signup Form With Slider</title>
  
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginStyle.css')}}" />
  
  <!-- Bootstrap core CSS --> <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" />

  <!-- Custom fonts for this template -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<style>
 

</style>
<body>
<div class="main-box">
  <div class="slider-cont">
    <div class="signup-slider">
      <div class="img-txt">
        <div class="img-layer"></div>
        <img src="{{url_for('static', filename='img/new3.jpg')}}"/>
      </div>
      <div class="img-txt">
        <div class="img-layer"></div>
        <!--<h1>Plan everything in advance.</h1> -->
        <img src="{{url_for('static', filename='img/img2.jpg')}}"/>
      </div>
      <div class="img-txt">
        <div class="img-layer"></div>
        <!-- <h1>Join US Now!</h1> -->
        <img src="{{url_for('static', filename='img/join.jpg')}}"/>
      </div>
    </div>
  </div>
  
  
  <div class="form-cont">
    <div class="top-buttons">
      <img class="logo" src="{{url_for('static', filename='img/logo2.png')}}"/>
      <button  id="signUpBtn" class="to-signup top-active-button">
        Sign Up
      </button>
      <button id="signInBtn" class="to-signin">
        Sign In
      </button>
    </div>
    
    <div class="form form-signup">
      <form action="{{ url_for('signup_save') }}" method="post" autocomplete="off">
        <label><b>FULL NAME</b></label>
        <input type="text" name="name" placeholder="Your full name" >
       
        <label><b>E-MAIL</b></label>
        <input type="email" name="email" placeholder="Your e-mail">
        
        <label><b>PASSWORD</b></label>
        <input type="password" name="password" placeholder="Your password">

        <p class="terms">
          <input type="checkbox">
          I agree all statments in 
          <a href="#" class="lined-link">terms of service</a>
        </p>
        <input type="submit" class="form-btn" value="sign up"/>
     
        <a href="#" class="lined-link to-signin-link">I'm already member</a>
      </form>
    </div>

    <div class="form form-signin">
      <form action="{{ url_for('signin_auth') }}" method="post">
        <label><b>E-MAIL</b></label>
        <input type="email" name="email" placeholder="Your e-mail" id = "email">
        <label><b>PASSWORD</b></label>
        <input type="password" name="password" placeholder="Your password" id ="password">
        <input type="submit"
               class="form-btn"
               value="Sign In"/>
               
        <a href="#" class="lined-link to-signup-link">Create new account</a>
      </form>
    </div>
  </div>
  <div class="clear-fix"></div>
</div>

   <!-- Modal -->
   <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModal" aria-hidden="true">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #007bff; color: #ffffff;">
          <h5 class="modal-title" id="exampleModalLabel"> {{ msg_type }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div id="modalImg" class="col-5">
              <img class="{{ class_type }}"/>
            </div>
            <div class="col-7" style="font-size: 19px;">
          {{ msg }}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
<script src="{{url_for('static', filename='loginScript.js')}}"></script>
<script>
  $(document).ready(function(){
    debugger;
    try{
    let msg = '{{ msg }}';
    let class_type = '{{ class_type }}';
    if(msg != '')
      $("#mainModal").modal('show');
    
    let sType = '{{ sType }}';
    if(sType=="signIn")
    {
      $("#signInBtn").click();
    }
  }catch(e)
  {
    console.log(e);
  }
  });
</script>

</body>
</html>
