<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='icon' href='/static/img/favicon.ico' type='image/x-icon' />


  <title>Zoom Travel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" />
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">


</head>
<style>
   body {
  font-family: 'Roboto', sans-serif;
  color: #2b2fad;
  width: 100%;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto', sans-serif;
  }

  .font {
    font-size: 18px;
    font-weight: 500;
    padding-top: 6px !important;
  }

  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  .header {
    position: relative;
    background-color: white;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .heading {
    font-weight: 700;
    color: #5d4267;
  }


  .blue-text {
    color: #2b2fad;
  }

  .blue-gradient {
    background: linear-gradient(360deg, #38aecc, #347fb9) !important;
  }

  .btn[class*="btn-outline-"] {
    padding-top: .7rem;
    padding-bottom: .7rem;

  }

  .btn-rounded {
    border-radius: 2.25rem !important
  }

  .btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
  }

  .sadFlappy {
  content:url("/static/img/mascot2.png");
  height: 100px !important;
}
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-xl navbar-light bg-light" style="background-color: #ffffff;">
    <img class="navbar-brand logo" src="../static/img/logo2.png" width="300" height="65"
      alt="oops! There an issue with taking the image on board">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile_menu"
      aria-controls="mobile_menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile_menu">
      <ul class="navbar-nav ml-auto font ">
        <li class="nav-item-active"><a class="nav-link" href="{{url_for('home', account=record['name'] )}}">Home </a></li>
        <li><a class="nav-link" href="{{url_for('upcomingTrips')}}">Upcoming trips <span
          class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="{{url_for('addTrips')}}">Add trips</a></li>
        <li><a class="nav-link" href="{{url_for('pastTrips')}}">Past trips</a></li>
        <li><a class="nav-link" href="{{url_for('protips')}}">Pro-tips</a></li>
        <ul class="navbar-nav navbar-right">
          <li><a href="{{url_for('profile_form')}}" class="btn btn-primary" role="button"
              style="margin-right: 10px; margin-bottom: 10px;"><span class="glyphicon glyphicon-user "></span>
              Profile</a></li>
          <li><a href="{{url_for('logout')}}" class="btn btn-primary" role="button"
              style="margin-right: 10px; margin-bottom: 10px;"><span class="glyphicon glyphicon-log-in"></span>
              Logout</a></li>
        </ul>
      </ul>
    </div>
  </nav>


  <div class="p-3 text-center">
    <h1> {{ header }}</h1>
  </div>

  <div class="container header card-body py-5 shadow p-4"
    style="border-color:black; border: 1px solid rgba(0,0,0,.125); border-radius: 2.25em; padding: 2.25em; ">
    {% if flights|length > 0 %}
    {% for flight in flights %}
    <div class="container h-100">

      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 card blue-gradient py-4 shadow p-3 mb-4" id="intro">
          <div class="card-body text-white text-center" style="border-radius: 2.25rem;">
            <div class="row">

              <div class="col-md-3">
                <h3 class="font-weight-bold">{{flight.flight_num}}</h3>
                <p class="blue-text"><b>Zoom Airlines</b></p>
              </div>
              <div class="col-md-6">
                <h3 class="font-weight-bold">{{flight.origin}} &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i> &nbsp;&nbsp;&nbsp; {{flight.destination}}</h3>
                <p class="blue-text"><b>{{flight.TripDate}}, {{flight.departure_time}} &nbsp;&nbsp;&nbsp; {{flight.TripDate}}, {{flight.arrival_time}} </b></p>

              </div>
              {% if header != 'Past Trips' and flight.is_security != 'T' %}
              <div class="col-md-3">
                <a href="{{url_for('complete_checklist', travelType=flight.type_of_travel, itineraryId=flight.itinerary_id )}}"
                  class="btn btn-outline-white btn-rounded" id=checklistBtn>Complete
                  checklist
                </a>
              </div>
              {% else %}
              <div class="col-md-3">
                <h3 class="font-weight-bold" id=checklistComp>Checklist Completed</h3>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="p-3 text-center">
      <div class= "row">
      <!-- <div  class="col-md-4">
        <img class="sadFlappy"/>
      </div> -->
      {% if header != 'Past Trips'%}
      <div class="col-md-12 blue-text">
        <img class="sadFlappy"/>
      <h3> Oh no! You have no upcoming trips. <a href="{{url_for('addTrips')}}">Click here</a> to add more trips</h3>
      </div>
      {% else %}
      <div class="col-md-12 blue-text">
        <img class="sadFlappy"/>
      <h3> Oh no! You have no past trips</h3>
      </div>
      {% endif %}
    </div>
    </div>
    {% endif %}
  </div>
  <div class="p-3 mb-5">
  </div>



  <!-- Footer -->
  <footer class="footer bg-light" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('contactUs')}}">Contact</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Developed by Team 13.</p>
        </div>
        <div class="col-lg-4 h-100 text-center text-lg-center my-auto">
          <div class="scroll-up">
            <a href="#"><i class="fa fa-angle-double-up"></i></a>
          </div>
        </div>
        <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>